/* Code CSS */
:root {
    --primary-color: #0984e3; /* bleu pastel */
    --secondary-color: #d63031; /* rouge pastel */
    --light-color: #f1f2f6; /* gris clair */
    --dark-color: #2d3436; /* gris foncé */
  }
  
  body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: var(--light-color);
    color: var(--dark-color);
  }
  
  h1 {
    margin: 20px 0;
    color: var(--primary-color);
  }
  
  p {
    margin: 10px 0;
  }
  
  select {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--dark-color);
    outline: none;
    appearance: none;
    background-color: white;
    color: var(--dark-color);
  }
  
  select::-ms-expand {
    display: none;
  }
  
  p#text-to-type {
    font-size: 24px;
    margin: 20px 0;
  }
  
  textarea {
    display: block;
    width: 80%;
    min-height: 200px;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--dark-color);
    outline: none;
    resize: none;
    background-color: white;
    color: var(--dark-color);
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--dark-color);
    outline: none;
    background-color: white;
    cursor: pointer;
    color: var(--dark-color);
  }
  
  button:hover {
    background-color: var(--light-color);
  }
  
  p#results {
    font-size: 18px;
    margin: 20px 0;
    color: var(--secondary-color);
  }
  